@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;

    &_label {
        font-family: 'Dancing Script', cursive;
        color: white;
        font-size: 20px;
        width: 350px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-input {
            width: 200px;
            margin: 10px;
            height: 30px;
            border-radius: 10px;
            outline: none;
            border: none;
            padding: 0 5px;
        }
    }

    &_button {
        cursor: pointer;
        border: 1px solid white;
        border-radius: 10px;
        font-family: 'Dancing Script', cursive;
        font-size: 22px;
        padding: 5px 10px;
        margin-top: 15px;
        outline: none;
    }

    &_error {
        margin: 2px;
        color: red;
    }
}